.datasets-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.dataset-item {
    min-width: 60%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
}

.dataset-item h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dataset-item div {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

.dataset-item:hover {
    cursor: pointer;
}