.explorer {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.explorer-title {
    color: #c1c3c5b4;
    position: sticky;
    top: 0;
    padding: 10px;
    background: #252526;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.explorer-title h2 {
    margin: 0;
    font-size: 1em;
}

.explorer-title span {
    font-size: 0.8em;
}

.explorer .status {
    padding: 10px;
    flex: 1;
}

.explorer-list {
    flex: 1;
    overflow: auto;
    color: #fff;
}

/* FileItem */
.explorer-file-item {
    height: 1.5em;
    width: calc(100% - 20px);
    white-space: nowrap;
    font-size: 0.9em;
    padding: 0 10px;
}

.explorer-file-item:hover {
    cursor: pointer;
    background-color: rgba(193, 195, 197, 0.2);
}

.explorer-file-item.selected {
    background-color: rgba(193, 195, 197, 0.71);
}