.tabs {
    box-sizing: border-box;
}

.tabs-titles {
    background-color: #1E1E1E;
    padding: 18px 0px !important;
    top: 0px;
    margin: 0;
    position: sticky;
    list-style: none !important;
    display: flex !important;
    flex-direction: row !important;
}

.tab-title button {
    display: flex;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    margin-right: 20px;
}

.tab-title button:focus {
    outline: none;
}

.tab-title[class~='active'] button {
    text-decoration: underline;
}